### In this task you will need to predict student performance based on different characteristics with K-NN

In [8]:
%pylab inline
%precision 6

Populating the interactive namespace from numpy and matplotlib

u'%.6f'

In [5]:
import sklearn
import sklearn as skl
import pandas as pd
from pdb import set_trace as bp

In [6]:
np.set_printoptions(linewidth=140,edgeitems=10)
rcParams['figure.figsize'] = (8.0, 5.0)

In [7]:
# you need to download module common from github.com/Apogentus/common and add it to your PythonPath system variable
from common.classes.Struct import Struct
from common.visualize.colors import COLORS
from common.visualize.cross_distributions import cross_distributions, cross_distributions_classification, cross_distributions_regression

ImportError: No module named common.classes.Struct

#### Load and prepare data

In [42]:
Z=pd.read_csv('data.csv')

In [43]:
Z.head()

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,RaisedHands,VisitedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentSchoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

#### Make structure with feature groups

In [44]:
F=Struct()
F.numeric = 'VisitedResources AnnouncementsView Discussion'.split()
F.categorical = 'Gender Nationality PlaceofBirth StageID GradeID SectionID Topic Semester \
                        Relation ParentAnsweringSurvey ParentSchoolSatisfaction StudentAbsenceDays'.split()

#### Random shuffling

In [45]:
random.seed(0)
inds = random.permutation(arange(len(Z)))

Z=Z.loc[inds]

Z.index = arange(len(Z))

In [46]:
Z.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            470, 471, 472, 473, 474, 475, 476, 477, 478, 479],
           dtype='int64', length=480)

In [47]:
len(Z)

480

In [48]:
classes = unique(Z['Class'])
classes

array(['H', 'L', 'M'], dtype=object)

In [49]:
Z['Class'].value_counts()

M    211
H    142
L    127
Name: Class, dtype: int64

In [50]:
Z[F.numeric] = Z[F.numeric].astype(float)

#### Form array X to consist of only NUMERIC variables and array Y of outputs.

In [51]:
X = Z[F.numeric].values
Y = Z['Class'].values

In [52]:
X.dtype

dtype('float64')

In [53]:
X.shape

(480, 3)

#### Using *cross_distributions_classification* plot all pairwise feature distrubutions of features and Y.

#### What relatonships between features and Y can you see?

#### Project the *numeric* features onto 2 principal components and plot. Show Y values with color. 
* Don't forget to normalize data passed to PCA with sklearn.preprocessing.StandardScaler

#### Can classes be easily separated in this 2D space?

#### Plot variance explained by each of the components

#### Get best cross-validation score by varying n_neighbors=[1,3,5,7,11, 16, 25, 51]
* Use sklearn.model_selection.GridSearchCV to find the classifier clf with best parameters 
* Print clf.best\_score_, clf.best\_params_

#### Calculate standard deviations of numeric features. Do they have equal spread?

#### Normalize numeric features with sklearn.preprocessing.StandardScaler

#### For NORMALIZED numeic features get best cross-validation score by varying n_neighbors=[1,3,5,7,11, 16, 25, 51]
* Use sklearn.model_selection.GridSearchCV to find the classifier clf with best parameters 
* Print clf.best\_score_ clf.best\_params_

#### Try optimizing weights in ['uniform','distance']

#### Try additionally optimize parameter p in [1,2,3,4,5,7]

#### Report overall best model cross-validation score and best model parameters for numeric features

# Adding categorical features

#### Calculate *sklearn.metrics.normalized_mutual_info_score* to find 3 categorical variables mostly connected with output.

#### What are those features? Explain.

#### Add one-hot-encoded categorical features to Z

In [70]:
from common.feature_transformations import get_one_hot_encoding

In [71]:
F.categorical_one_hot = []
for col in F.categorical:
    print('Making one-hot-encoding of %s'%col)
    feature_one_hot = get_one_hot_encoding(Z[col])
    Z = pd.concat([Z, feature_one_hot],axis=1)
    F.categorical_one_hot += list(feature_one_hot.columns)

Making one-hot-encoding of Gender
Making one-hot-encoding of Nationality
Making one-hot-encoding of PlaceofBirth
Making one-hot-encoding of StageID
Making one-hot-encoding of GradeID
Making one-hot-encoding of SectionID
Making one-hot-encoding of Topic
Making one-hot-encoding of Semester
Making one-hot-encoding of Relation
Making one-hot-encoding of ParentAnsweringSurvey
Making one-hot-encoding of ParentSchoolSatisfaction
Making one-hot-encoding of StudentAbsenceDays

In [72]:
Z.head()

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,RaisedHands,...,Semester=F,Semester=S,Relation=Father,Relation=Mum,ParentAnsweringSurvey=No,ParentAnsweringSurvey=Yes,ParentSchoolSatisfaction=Bad,ParentSchoolSatisfaction=Good,StudentAbsenceDays=Above-7,StudentAbsenceDays=Under-7
0,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,...,1,0,1,0,0,1,0,1,0,1
1,M,KW,KuwaIT,lowerlevel,G-02,C,IT,F,Father,0,...,1,0,1,0,0,1,1,0,0,1
2,M,Tunis,Tunis,MiddleSchool,G-07,A,Quran,S,Father,19,...,0,1,1,0,1,0,1,0,1,0
3,M,Egypt,Egypt,lowerlevel,G-04,A,Math,S,Mum,49,...,0,1,0,1,1,0,1,0,1,0
4,M,KW,KuwaIT,lowerlevel,G-02,B,French,S,Father,40,...,0,1,1,0,0,1,0,1,0,1

In [73]:
Z.columns

Index(['Gender', 'Nationality', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'RaisedHands',
       'VisitedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentSchoolSatisfaction',
       'StudentAbsenceDays', 'Class', 'Gender=F', 'Gender=M',
       'Nationality=Egypt', 'Nationality=Iran', 'Nationality=Iraq',
       'Nationality=Jordan', 'Nationality=KW', 'Nationality=Lybia',
       'Nationality=Morocco', 'Nationality=Palestine',
       'Nationality=SaudiArabia', 'Nationality=Syria', 'Nationality=Tunis',
       'Nationality=USA', 'Nationality=lebanon', 'Nationality=venzuela',
       'PlaceofBirth=Egypt', 'PlaceofBirth=Iran', 'PlaceofBirth=Iraq',
       'PlaceofBirth=Jordan', 'PlaceofBirth=KuwaIT', 'PlaceofBirth=Lybia',
       'PlaceofBirth=Morocco', 'PlaceofBirth=Palestine',
       'PlaceofBirth=SaudiArabia', 'PlaceofBirth=Syria', 'PlaceofBirth=Tunis',
       'PlaceofBirth=USA', 'PlaceofBirth=lebanon', 'PlaceofBirth=venzuela',
       'StageID=HighSchool', 'StageID=MiddleSchool', 'StageID=lowerlevel',
       'GradeID=G-02', 'GradeID=G-04', 'GradeID=G-05', 'GradeID=G-06',
       'GradeID=G-07', 'GradeID=G-08', 'GradeID=G-09', 'GradeID=G-10',
       'GradeID=G-11', 'GradeID=G-12', 'SectionID=A', 'SectionID=B',
       'SectionID=C', 'Topic=Arabic', 'Topic=Biology', 'Topic=Chemistry',
       'Topic=English', 'Topic=French', 'Topic=Geology', 'Topic=History',
       'Topic=IT', 'Topic=Math', 'Topic=Quran', 'Topic=Science',
       'Topic=Spanish', 'Semester=F', 'Semester=S', 'Relation=Father',
       'Relation=Mum', 'ParentAnsweringSurvey=No', 'ParentAnsweringSurvey=Yes',
       'ParentSchoolSatisfaction=Bad', 'ParentSchoolSatisfaction=Good',
       'StudentAbsenceDays=Above-7', 'StudentAbsenceDays=Under-7'],
      dtype='object')

#### Add one most significant categorical feature (in one-hot-encoded representation) to X 
* don't forget to standardize numeric features to zero mean, unit variance

#### Make optimization over n_neighbors, weights, p. Did the quality improve?

#### Add several most significant categorical features (in one-hot-encoded representation) to X

#### Specify your own distance function to K-NN, calculating $L_1$ normed distance. Numeric features there should be added with weights 1 and one-hot encoded features should be added with custom constant weight w.

#### Finetune K-NN with your custom distance function by it's major parameters and w optimization. Report CV accuracy and best parameters.

### Free hunt: make whatever additional experiments you like to explore the data or improve the quality and report interesting findings.